* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #565757;
	font-family:'Josefin Sans';
	font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #00CCBF;
}
::-webkit-scrollbar-thumb {
	background: #f89593;
}

body {
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.blue-txt {
	color: #00CCBF;
}

.red-txt, .resume-title {
	color: #FF5F5D;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: #00CCBF;
	height: 100px;
	width: 100vw;
}

.my-name {
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.my-name h1{
	color: #fff;
	font-size: 32px;;
}

.my-name h2 {
	color: #fff;
	font-size: 24px;
}

.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

.nav-list li {
	padding: 23px 46px;
}

.nav-list a {
	padding: 23px 46px;
	font-size: 32px;
	text-decoration: none;
	border-radius: 85px;
	transition: all 0.5s;
}

.resume-nav a {
	background-color: #72F2EB;
	transition: all 0.5s;
}

.nav-list a:hover {
	background-color: #FF5F5D;
	color: #fff;
}
.nav-list a:active {
	background-color: #3F7C85;
	color: #fff;
}

/* Main */

.resume {
	display: flex;
	justify-content: start;
	margin: 0px 200px 0px 30%;
}

.resume-title {
	position: absolute;
	right: 60%;
	font-size: 50px;
	text-align: end;
}

.content {
	position: relative;
	left: 270px;
	width: 1000px;
}

/* Horizontal line */

.short-hr {
	border-top: 3px solid #FF5F5D;
	margin: 30px 0;
}

.long-hr {
	border-top: 3px solid #00CCBF;
	margin: 50px 0;
}

/* Education */

.education {
	margin-top: 50px;
}

/* Education - Achievement */
.degree {
	font-size: 40px;
}

.prodi {
	text-align: end;
	color: #3F7C85;
	font-size: 48px;
}

.content-title {
	font-size: 64px;
}

.school, .skill h4, .college, .other-skill {
	font-size: 40px;
}

.school {
	text-align: end;
}

.year, .position {
	font-size: 32px;
}

/* Skill */

.soft-skill, .other-skill {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-wrap: wrap;
	height: 300px;
}

.soft-skill h4{
	padding: 0px 50px 50px 0;
}

.other-skill h4 {
	padding: 25px;
}

.hard-skill {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.skill div {
	padding: 0px 50px 50px 0;
	text-align: center;
}

.other-skill-wrap h3{
	color: #00CCBF;
	font-size: 40px;
}

/* Course */

.course img {
	max-width: 500px;
	margin-bottom: 20px;
}

.course h4 {
	font-size: 32px;
	margin-bottom: 50px;
	transition: all 0.5s;
}

.course a {
	text-decoration: none;
}

.course h4:hover, .course a:hover {
	color: #FF5F5D;
	transition: all 0.2s;
	transform: scale(1.2);
}

.course a:active {
	color: #00CCBF;
}

.progate-wrap {
	display: flex;
	flex-direction: column;
	height: 700px;
}

.progate{
	display: flex;
	height: 600px;
	flex-direction: column;
	flex-wrap: wrap;

}

.progate h4 {
	margin: 0 200px 50px 0;
}

/* Language */

.lang {
	display: flex;
	align-items: center;
}

.indonesia {
	margin-bottom: 30px;
}

.lang img {
	margin-right: 30px;
}

.lang h4 {
	font-size: 32px;
}

/* Interest */

.interest {
	margin-bottom: 50px;
}

.interest-content {
	display: flex;
}

.interest-content h4 {
	margin-top: 10px;
	margin-right: 150px;
	font-size: 32px;
}

/* Footer */

footer {
	background-color: #72F2EB;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}