* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #565757;
	font-family:'Josefin Sans';
}

body {
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

/* Nav */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #00CCBF;
	width: 100%;
}

/* Nav Bar */

.nav-bar {
	display: none;
}

.fa {
	color: #fff;
	font-size: 32px;
	margin-right: 20px;
	cursor: pointer;
}


/* Left Nav */

.my-name {
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.my-name h1{
	color: #fff;
	font-size: 32px;;
}

.my-name h2 {
	color: #fff;
	font-size: 24px;
}

/* Right Nav */

.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

.nav-list a {
	padding: 23px 46px;
	font-size: 32px;
	text-decoration: none;
	border-radius: 85px;
	margin: 0 10px;
}

.home-nav a {
	background-color: #72F2EB;
	transition: all 0.5s;
}

.nav-list a:hover {
	background-color: #FF5F5D;
	color: #fff;
	transition: all 0.5s;
}
.nav-list a:active {
	background-color: #3F7C85;
	color: #fff;
}

/* Header */

header {
	background-image: url(img/pc.jpg);
	background-size: cover;
	height: 100px;
	line-height: 80px;
}

#header-text {
	color: #fff;
	padding: 0 0 0 20px;
	text-align: center;
}

/* Main */

main {
	height: 100vh;
	display: flex;
	align-items: center;
}

#main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 200px;
}

/* Profile picture */

#profile-pic {
	min-height: 300px;
	min-width: 300px;
	background-image: url(img/profile.jpg);
	background-size: cover;
	border-radius: 50%;
	padding: 30px;

}

/* Curve Line */

#curve-line{
	width: 500px;
	height: 500px;
	position: absolute;
	left: 58px;
	border: solid 5px #72F2EB;
	border-color: transparent #72F2EB transparent transparent;
	border-radius: 0 50% 50% 0;
	z-index: 1;
}

/* Dot and Text Explanation */

.line {
	z-index: 10;
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
}

.circle {
	display: inline-block;
	min-height: 20px;
	min-width: 20px;
	background-color: #FF5F5D;
	border-radius: 50%;
}

.first-line {
	padding-left: 18px;
}

.second-line {
	padding-left: 40px;
}

.third-line {
	padding-left: 35px;
}
.fourth-line {
	padding-left: 0px;
}

.exp {
	display: inline-block;
	font-size: 32px;
	padding: 20px;
}

/* Footer */

footer {
	background-color: #72F2EB;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
	.my-name h1 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.my-name h2 {
		font-size: 15px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1350px) {
}

@media only screen and (max-width: 1000px) {
	.nav-bar {
		display: inline-block;
	}
	
	.nav-list {
		display: none;
	}
	
	.nav-list li {
		margin: 32px 0;
	}

	.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 80px;
		right: 0px;
		background-color: #00CCBF;
		z-index: 20;
	}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 374px) {
	.active {
		top: 100px;
	}
}

@media only screen and (max-width: 258px) {
	.active {
		top: 120px;
	}
}