:root {
	--color1: #565757;
	--color2: #3f7c85;
	--color3: #00ccbf;
	--color4: #72f2eb;
	--color5: #ff5f5d;
	--color6: #f89593;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--color1);
	font-family: "Josefin Sans", sans-serif;
	scroll-behavior: smooth;
}

body {
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--color3);
}
::-webkit-scrollbar-thumb {
	background: var(--color5);
}

/* Nav */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color3);
	width: 100%;
	z-index: 20;
}

/* Nav Bar */

.nav-bar {
	display: none;
}

.fa {
	color: #fff;
	font-size: 32px;
	margin-right: 20px;
	cursor: pointer;
}

/* Left Nav */

.my-name {
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.my-name h1 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
}

.my-name h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

/* Right Nav */

.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

.nav-list a {
	padding: 23px 46px;
	font-size: 32px;
	text-decoration: none;
	border-radius: 85px;
	margin: 0 10px;
}

.portfolio-nav a {
	background-color: var(--color4);
	transition: all 0.5s;
}

.nav-list a:hover {
	background-color: var(--color5);
	color: #fff;
	transition: all 0.5s;
}
.nav-list a:active {
	background-color: var(--color2);
	color: #fff;
}

/* Main */

/* Portfolio nav */
video {
	margin: 20px;
	border: 1px solid var(--color5);
	width: 300px;
}

.portfolio-content-nav {
	background-color: var(--color4);
	position: sticky;
	top: 0px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-content-nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style-type: none;
	text-overflow: clip;
	width: inherit;
	padding: 5px 0;
}

.portfolio-content-nav li {
	line-height: 85px;
}

.portfolio-content-nav a {
	border-radius: 50px;
	font-size: 25px;
	padding: 30px 50px;
	margin: 0 10px;
	text-decoration: none;
	transition: all 0.2s;
}

.portfolio-content-nav a:hover {
	background-color: var(--color6);
	color: white;
}

.portfolio-content-nav a:active {
	background-color: var(--color3);
}

/* line */

hr {
	width: 80%;
	border-top: 3px solid var(--color3);
	margin: 40px auto;
}

.portfolio-section-title {
	background-color: var(--color6);
	color: white;
	text-align: right;
	font-size: 50px;
	padding: 24px;
	padding-right: 100px;
}

.app-portfolio {
	padding-top: 100px;
	margin-top: -100px;
	z-index: 0;
}

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio img {
	max-width: 1000px;
	padding: 10px;
}

.portfolio p {
	font-size: 32px;
}

.portfolio span {
	color: var(--color5);
}

.calculator-info a {
	text-decoration: none;
}

.calculator-info a:hover {
	color: var(--color3);
}

.calculator-info a:active {
	color: var(--color5);
}

.more-info {
	margin: 50px;
	text-align: center;
	font-size: 48px;
	line-height: 1.4;
}

.more-info a {
	color: var(--color5);
	text-decoration: none;
	transition: all 0.5s;
	cursor: pointer;
}

.more-info a:link {
	color: var(--color5);
	text-decoration: none;
}

.more-info a:hover {
	color: var(--color3);
	font-size: 80px;
}

.more-info a:active {
	color: var(--color5);
}

.more-info a:visited {
	text-decoration: none;
}

/* Design Portfolio */

.design-portfolio {
	padding-top: 100px;
	margin-top: -100px;
}

.design-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.design-wrap img {
	max-width: 400px;
	margin: 20px;
	padding: 10px;
}

img {
	transition: all 0.5s;
}

/* img border while hover is actually from padding, not border */
img:hover {
	transform: scale(1.1);
	transition: all 0.5s;
	background-color: var(--color5);
}

/* UI Portfolio */

.ui-portfolio {
	padding-top: 100px;
	margin-top: -100px;
}

.ui-portfolio-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.ui-portfolio p {
	font-size: 32px;
	/* margin-bottom: 50px; */
}

.ui-portfolio a {
	text-decoration: none;
}

.ui-portfolio img {
	max-width: 600px;
	padding: 10px;
	margin: 20px;
}

.ui-portfolio span {
	color: var(--color5);
}

/* Footer */

footer {
	background-color: var(--color4);
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}

/* Calculator */

.calc-pic {
	display: none;
}

.calculator {
	text-align: center;
	margin: 40px 50px;
	padding: 0;
	width: 400px;
	border: 5px solid black;
}
.main-screen {
	width: 100%;
	height: 100px;
	background-color: #000033;
	color: #fff;
	text-align: right;
	font-size: 60px;
	border: none;
	padding: 0 20px;
	box-sizing: border-box;
}
.temporary-screen {
	background-color: #f5f5f5;
	border: 1px solid blue;
	width: 100%;
	height: 40px;
	text-align: right;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 20px;
}
.calculator-keys {
	width: 100%;
}
.row {
	display: flex;
}
button {
	height: 80px;
	background-color: black;
	border: 1px solid blue;
	font-size: 40px;
	color: white;
	width: 25%;
	outline: none;
}
.all-clear {
	width: 75%;
}
.zero-btn {
	width: 50%;
}
.operator,
.equal-sign {
	background-color: #01014b;
	color: white;
}
button:hover {
	background-color: white;
	color: black;
}
.operator:hover,
.equal-sign:hover {
	background-color: cyan;
}
button:active,
.operator:active,
.equal-sign:active {
	background-color: orange;
	color: white;
}

/* Responsive */

@media only screen and (max-width: 1350px) {
	.portfolio {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 1000px) {
	/* Nav */
	.nav-bar {
		display: inline-block;
	}

	.nav-list {
		display: none;
	}

	.nav-list li {
		margin: 32px 0;
	}

	.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 80px;
		height: 300px;
		width: 100vw;
		background-color: var(--color3);
		z-index: 20;
	}

	.active a {
		padding: 20px 40%;
		background-color: transparent;
		/* border: 1px solid red; */
	}

	.active a:hover {
		background-color: transparent;
	}

	.active li {
		width: 100%;
		text-align: center;
		padding: 20px 0;
		margin: 0px;
	}

	.active li:hover {
		background-color: var(--color5);
		color: white;
	}

	.portfolio-nav {
		transition: all 0.5s;
		background-color: var(--color4);
	}

	/* Main */

	.portfolio {
		flex-direction: column;
	}

	.portfolio img {
		width: 650px;
	}

	.design-wrap img {
		height: 400px;
	}

	.design-wrap img {
		margin: 10px;
	}

	/* UI UX portfolio */
	.ui-portfolio img {
		width: 300px;
	}

	.locality-flowchart img {
		width: 500px;
	}
}

@media only screen and (max-width: 768px) {
	.portfolio-content-nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	.portfolio-content-nav li {
		line-height: 50px;
	}

	.portfolio-content-nav a {
		font-size: 15px;
		padding: 20px 10px;
	}

	.portfolio-section-title {
		font-size: 30px;
		padding-right: 20px;
	}

	/* footer */
	footer {
		font-size: 15px;
	}
}

@media only screen and (max-width: 550px) {
	.active a {
		font-size: 20px;
		padding: 20px 40%;
	}

	.active {
		height: 250px;
		top: 80px;
	}

	header {
		font-size: 10px;
	}
	.my-name h1 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.my-name h2 {
		font-size: 15px;
	}

	/* main */
	.portfolio img {
		width: 300px;
	}

	.portfolio p {
		font-size: 16px;
	}

	.calculator {
		display: none;
	}

	.calc-pic {
		display: block;
	}

	.more-info {
		font-size: 24px;
	}

	.more-info a:hover {
		color: var(--color3);
		font-size: 32px;
	}

	/* UI UX portfolio */
	.ui-portfolio img {
		width: 300px;
	}
}

@media only screen and (max-width: 374px) {
	.active {
		top: 80px;
	}

	.active a {
		padding: 20px 30%;
	}

	video {
		margin: 10px 0;
		border: 1px solid var(--color5);
		width: 200px;
	}

	/* footer */
	footer {
		font-size: 12px;
	}
}

@media only screen and (max-width: 258px) {
	.active {
		top: 100px;
	}
}
