:root {
	--color1: #565757;
	--color2: #3F7C85;
	--color3: #00CCBF;
	--color4: #72F2EB;
	--color5: #FF5F5D;
	--color6: #f89593;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--color1);
	font-family:'Josefin Sans', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--color3);
}
::-webkit-scrollbar-thumb {
	background: var(--color5);
}

body {
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.blue-txt {
	color: var(--color3);
}

.red-txt, .resume-title {
	color: var(--color5);
}

/* Nav */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color3);
	width: 100%;
	z-index: 10;
}

/* Nav Bar */

.nav-bar {
	display: none;
}

.fa {
	color: #fff;
	font-size: 32px;
	margin-right: 20px;
	cursor: pointer;
}


/* Left Nav */

.my-name {
	height: inherit;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
}

.my-name h1{
	color: #fff;
	font-size: 32px;;
	font-weight: bold;
}

.my-name h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}

/* Right Nav */

.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

.nav-list a {
	padding: 23px 46px;
	font-size: 32px;
	text-decoration: none;
	border-radius: 85px;
	margin: 0 10px;
}

.resume-nav a {
	background-color: var(--color4);
	transition: all 0.5s;
}

.nav-list a:hover {
	background-color: var(--color5);
	color: #fff;
	transition: all 0.5s;
}
.nav-list a:active {
	background-color: var(--color2);
	color: #fff;
}

.certificates-nav {
	color: var(--color5);
}

/* Main */

.content-wrap {
	padding: 0 15px;
	z-index: 0;
}

.resume {
	display: flex;
	justify-content: start;
}

.resume-title {
	position: absolute;
	right: 60%;
	font-size: 50px;
	text-align: end;
	white-space: nowrap;
	padding-right: 10px;
}

.content {
	position: relative;
	left: 40%;
	max-width: 800px;
}

/* Horizontal line */

.short-hr {
	border-top: 3px solid var(--color6);
	margin: 30px 0;
}

.long-hr {
	border-top: 3px solid var(--color3);
	margin: 50px auto;
	width: 80%;

}

/* Resume Nav Contents*/
.resume-content-nav {
	background-color: var(--color4);
	position: sticky;
	top: 0px;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resume-content-nav ul {
	background-color: var(--color4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	list-style-type: none;
	text-overflow: clip;
	width: inherit;
	padding: 5px 0;
}

.resume-content-nav li {
	line-height: 85px;
}

.resume-content-nav a {
	border-radius: 50px;
	font-size: 25px;
	padding: 30px 50px;
	margin: 0 10px;
	text-decoration: none;
	transition: all 0.2s;

}
.resume-content-nav a:hover {
	background-color: var(--color6);
	color: white;
}


/* Education */

#education-section {
	padding-top: 125px;
	margin-top: -100px;
}

.education {
	margin-top: 50px;
}

/* Education - Achievement */
.degree, .school, .skill h4, .college, .other-skill, .prodi {
	font-size: 40px;
}

.prodi {
	text-align: end;
	color: var(--color2);
}

.content-title {
	font-size: 56px;
}

.school {
	text-align: end;
	margin: 10px 0;
}

.year, .position {
	font-size: 32px;
}

#experience-section {
	padding-top: 100px;
	margin-top: -100px;
}

/* Skill */
#skill-section {
	padding-top: 100px;
	margin-top: -100px;
}

.soft-skill, .other-skill {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-wrap: wrap;
	height: 300px;
}

.soft-skill h4{
	padding: 0px 50px 50px 0;
}

.other-skill h4 {
	padding: 25px;
}

.hard-skill {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.skill div {
	padding: 0px 50px 50px 0;
	text-align: center;
}

.other-skill-wrap h3{
	color: var(--color3);
	font-size: 32px;
}

/* Course */
#certificate-section {
	padding-top: 100px;
	margin-top: -100px;
}

.course img {
	max-width: 500px;
	margin-bottom: 20px;
}

.course h4 {
	font-size: 32px;
	margin-bottom: 50px;
	transition: all 0.5s;
}

.course a {
	text-decoration: none;
}

.course h4:hover, .course a:hover {
	color: var(--color5);
	transition: all 0.2s;
	transform: scale(1.2);
	transform-origin: 100px;
}

.course a:active {
	color: #00CCBF;
}

.progate-wrap {
	display: flex;
	flex-direction: column;
	height: 800px;
}

.progate{
	display: flex;
	height: 700px;
	flex-direction: column;
	flex-wrap: wrap;

}

.progate h4 {
	margin: 0 200px 50px 0;
}

/* Language */

.lang {
	display: flex;
	align-items: center;
}

.indonesia {
	margin-bottom: 30px;
}

.lang img {
	margin-right: 30px;
}

.lang h4 {
	font-size: 32px;
}

/* Interest */

.interest {
	margin-bottom: 50px;
}

.interest-content {
	display: flex;
	align-items: center;
}

.interest-content h4 {
	margin-top: 10px;
	margin-right: 150px;
	font-size: 32px;
	white-space: nowrap;
}

/* Footer */

footer {
	background-color: var(--color4);
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}


/* Responsive */

@media only screen and (max-width: 1350px) {
	.resume {
		justify-content: center;	
	}

	.resume-title {
		position: relative;
		right: 0;
		left: 0;
		text-align: end;
	}

	.content {
		left: 0;
	}

	.progate h4 {
		margin: 0 100px 50px 0;
	}


}


@media only screen and (max-width: 1000px) {
	/* Nav */
	.nav-bar {
		display: inline-block;
	}
	
	.nav-list {
		display: none;
	}
	
	.nav-list li {
		margin: 32px 0;
	}
	
	.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 80px;
		height: 300px;
		width: 100vw;
		background-color: var(--color3);
		z-index: 20;
	}

	.active a {
		padding: 20px 40%;
		background-color: transparent;
	}

	.active a:hover {
		background-color: transparent;
	}

	.active li {
		width: 100%;
		text-align: center;
		padding: 20px 0;
		margin: 0px;
	}

	.active li:hover {
		background-color: var(--color5);
		color: white;
	}

	.resume-nav {
		transition: all 0.5s;
		background-color: var(--color4);
	}

	/* Main */
	.resume-content-nav ul {
		justify-content: space-between;
	}
	
	.resume-content-nav a {
		padding: 30px 20px;
		margin: 0;
	}

	.resume-title {
		font-size: 32px;
	}

	.degree, .prodi, .school, .skill h4, .college, .other-skill {
		font-size: 24px;
	}

	.content-title {
		font-size: 32px;
	}

	.year, .position {
		font-size: 20px;
	}

	/* Interest */
	.interest-content {
		flex-direction: column;
		align-items: flex-start;
	}
	.interest-content h4 {
		margin: 0 100px 0 10px;
	}

	/* Course */
	.course h4 {
		font-size: 24px;
	}


}


@media only screen and (max-width: 768px) {
	.short-hr {
		width: 60%;
		margin: 20px auto;
	}

	.long-hr {
		margin: 48px auto;
		width: 95%;
	}

	/* Main */
	.resume-content-nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	.resume-content-nav li {
		line-height: 50px;
	}
	
	.resume-content-nav a {
		font-size: 15px;
		padding: 20px 10px;
	}

	.resume {
		flex-direction: column;
	}

	.resume-title {
		text-align: center;
		padding-bottom: 24px;
	}

	/* Course */
	.course-wrapper a {
		text-decoration: underline;
		text-decoration-color: var(--color6);
	}

	/* Language */
	.lang h4 {
		font-size: 24px;
	}

	/* Interest */
	.interest-content {
		/* flex-direction: row; */
		align-items: center;
	}
	.interest-content h4 {
		font-size: 24px;
	}

	.interest-content h4 {
		margin: 0px 20px 10px;
	}

	/* footer */
	footer {
		font-size: 15px;
	}
}


@media only screen and (max-width: 550px) {
	.active a {
		font-size: 20px;
		padding: 20px 40%;
	}

	.active {
		height: 250px;
		top: 80px;
	}

	header {
		font-size: 10px;
	}
	.my-name h1 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.my-name h2 {
		font-size: 15px;
	}

	/* Main */

	.resume-title {
		font-size: 28	px;
	}

	.degree, .prodi, .school, .skill h4, .college, .other-skill {
		font-size: 20px;
	}

	.content-title {
		font-size: 24px;
	}

	.year, .position {
		font-size: 16px;
	}

	/* Skill */
	.hard-skill img {
		width: 70px;
		margin: 10px auto;
	}

	.hard-skill-content {
		margin: 5px;
		display: flex;
		/* border: 1px solid red; */
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.soft-skill, .other-skill {
		flex-wrap: nowrap;
		height: auto;
		text-align: center;
	}

	.soft-skill h4 {
		padding: 0 0 20px 0;
	}

	.other-skill-wrap h3 {
		padding-left: 20px;
		font-size: 24px;
	}

	/* Course */
	.course {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.course img {
		width: 90vw;
	}

	.course h4 {
		font-size: 20px;
		text-align: center;
	}

	.progate-wrap {
		height: auto;
	}

	.progate {
		height: auto;
	}

	.progate h4 {
		margin: 0 0 24px 0;
	}

	.sololearn {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	/* languages */
	.lang {
		flex-direction: column;
	}

	.lang h4 {
		text-align: center;
	}
}


@media only screen and (max-width: 374px) {
	.active {
		top: 80px;
	}

	.active a {
		padding: 20px 30%;
	}
	

	.resume-title {
		white-space: normal;
	}

	/* Skill */
	.skill div {
		padding: 0px 0px 10px 0px;
	}

	/* footer */
	footer {
		font-size: 12px;
	}
}

@media only screen and (max-width: 258px) {
	.active {
		top: 100px;
	}
}